<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.udigo.hotel.cart.model.dao.CartMapper">

    <!-- 장바구니 아이템 추가 -->
    <insert id="insertCart" parameterType="com.udigo.hotel.cart.model.dto.CartDTO">
        INSERT INTO tbl_cart (member_code, acm_id)
        VALUES (#{memberCode}, #{acmId})
    </insert>

    <!-- 장바구니 아이템 삭제 -->
    <delete id="deleteCart">
        DELETE FROM tbl_cart WHERE cart_id IN
        <foreach item="cartId" collection="list" open="(" separator="," close=")">
            #{cartId}
        </foreach>
    </delete>

    <!-- 장바구니 아이템 단건 조회 (수량 업데이트용) -->
    <select id="selectCartByCode" resultType="com.udigo.hotel.cart.model.dto.CartDTO">
        SELECT * FROM tbl_cart WHERE cart_code = #{cartId}
    </select>

</mapper>


