<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<header th:fragment="header" class="header">
  <nav class="h_navbar">
    <div class="h_logo"><a href="#"><img th:src="@{/image/header/h_logo.png}" alt="이미지"></a></div> <!-- 메인 페이지 -->
    <ul class="h_nav-links">
      <li><a href="/acm/list">Hotel</a> <!-- 호텔 -->
      </li>
      <li><a href="#">Board</a> <!-- 게시판 -->
        <ul>
          <li><a href="#">게시판</a></li>  <!-- 게시판 -->
          <li><a href="#">공지사항</a></li> <!-- 공지사항 -->
          <li><a href="#">FAQ</a></li> <!-- FAQ -->
        </ul>
      </li>

      <li><a href="reservations/past">Reservations</a> <!-- 예약 페이지 -->
        <ul>
          <li><a href="#">내 예약</a></li> <!-- 내 예약 -->
          <li><a href="#">예약 정보</a></li> <!-- 예약 정보 -->
        </ul>
      </li>
    </ul>

    <div class="h_nav-buttons">
      <button class="h_login-btn"><a href="#">로그인</a></button> <!-- 로그인 -->
      <button class="h_my-page-btn h_hidden"><a th:href="@{/mypage}">마이페이지</a></button> <!-- 마이페이지 -->
    </div>
  </nav>
</header>

</body>