<!-- src/main/resources/templates/fragments/header.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<header th:fragment="header" class="header">
  <nav class="h_navbar">
    <div class="h_logo"><a href="/"><img th:src="@{/image/header/h_logo.png}" alt="이미지"></a></div>
    <ul class="h_nav-links">
      <li><a href="/acm/list">Hotel</a></li>
      <li><a href="/board/notice">Board</a>
        <ul>
          <li><a href="/board/notice">공지사항</a></li>
          <li><a href="/board/FAQ">FAQ</a></li>
          <li><a href="/board/ask">1:1 문의</a></li>
        </ul>
      </li>
      <li><a href="/reservations/current">Reservations</a>
        <ul>
          <li><a href="/reservations/current">현재 예약</a></li>
          <li><a href="/reservations/past">이전 예약</a></li>
        </ul>
      </li>
    </ul>

    <div class="h_nav-buttons">
      <button class="login-btn" onclick="location.href='/login'">로그인</button>
      <button class="h_my-page-btn h_hidden"><a th:href="@{/mypage}">마이페이지</a></button>
    </div>
  </nav>
</header>

</body>