<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<!-- 헤더를 fragment로 불러옵니다. -->
<div th:replace="~{fragments/header :: header}"></div>
<main>
    <div class="cart-container">
        <h1>장바구니</h1>
        <div class="cart-icon">🛒</div>
        <p class="cart-message">장바구니가 비었습니다.<br>원하시는 숙소를 담아주세요.</p>
        <a href="#" class="button">담으러 가기</a>
    </div>
</main>
<!-- 푸터를 fragment로 불러옵니다. -->
<div th:replace="~{fragments/footer :: footer}"></div>

<script src="/js/header.js"></script>
</body>
</html>
