<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 전체 조회 - UDIGO</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="content container">
    <main class="main-content">
        <h1>회원 전체 조회</h1>
        <table>
            <thead>
            <tr>
                <th>NO.</th>
                <th>회원 ID</th>
                <th>이름</th>
                <th>가입일</th>
                <th>상태</th>
                <th>상세조회</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member, stat : ${memberList}" th:if="${member.memberId != 'admin'}" >
                <td th:text="${stat.index}"></td>
                <td th:text="${member.memberId}"></td>
                <td th:text="${member.memberName}"></td>
                <td th:text="${member.formattedJoinDate}"></td>
                <td>
                    <span th:if="${member.status == 'ACTIVE'}" style="color: blue;">정상 회원</span>
                    <span th:if="${member.status == 'WITHDRAWN'}" style="color: red;">탈퇴 회원</span>
                </td>
                <td>
                    <a th:href="@{/admin/member/detail/{memberId}(memberId=${member.memberId})}" class="btn-detail">상세조회</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:replace="~{fragments/footer :: footer}"></div>
    </main>
    <script src="/js/header.js"></script>
</div>
</body>
</html>
