<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.udigo.hotel.acm.model.dao.AcmMapper">

    <resultMap id="acmResultMap" type="com.udigo.hotel.acm.model.dto.AcmDTO">
        <id property="acmId" column="acm_id"/>
        <result property="acmName" column="acm_name"/>
        <result property="acmInfo" column="acm_info"/>
        <result property="acmLocation" column="acm_location"/>
        <result property="acmPhoto1" column="acm_photo1"/>
        <result property="acmPhoto2" column="acm_photo2"/>
        <result property="acmPhoto3" column="acm_photo3"/>
        <result property="acmPhoto4" column="acm_photo4"/>
        <result property="acmPhoto5" column="acm_photo5"/>
        <result property="likedCount" column="liked_count"/>
        <result property="maxGuest" column="max_guest"/>
        <result property="acmAddress" column="acm_address"/>
        <result property="acmPrice" column="acm_price"/>
        <result property="acmPhone" column="acm_phone"/>
        <result property="acmDate" column="regist_date"/>
    </resultMap>

    <!-- 초기 숙소 목록 조회 -->
    <select id="selectInitialAcms" resultMap="acmResultMap">
        SELECT *
        FROM tbl_acm
        ORDER BY liked_count DESC
        LIMIT 9
    </select>

    <!-- 추가 숙소 목록 조회 -->
    <select id="selectMoreAcms" resultMap="acmResultMap">
        SELECT *
        FROM tbl_acm
        ORDER BY liked_count DESC
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 검색 조건에 맞는 숙소 조회 -->
    <select id="searchAcms" resultMap="acmResultMap">
        SELECT DISTINCT a.*
        FROM tbl_acm a
        LEFT JOIN tbl_reservations r ON a.acm_id = r.acm_id
        WHERE 1 = 1
        <if test="acmLocation != null and acmLocation != ''">
            AND a.acm_location like #{acmLocation}
        </if>
        <if test="maxGuests != null and maxGuests != ''">
            AND (
            a.max_guest BETWEEN #{maxGuests} - 1 AND #{maxGuests} + 1
            OR #{maxGuests} BETWEEN a.max_guest - 1 AND a.max_guest + 1
            )
        </if>
        <if test="checkInDate != null and checkOutDate != null and checkInDate != '' and checkOutDate != ''">
            AND NOT EXISTS (
            SELECT 1
            FROM tbl_reservations r2
            WHERE r2.acm_id = a.acm_id
            AND (
            (r2.check_in &lt;= #{checkOutDate} AND r2.check_out >= #{checkInDate})
            OR (r2.check_in BETWEEN #{checkInDate} AND #{checkOutDate})
            OR (r2.check_out BETWEEN #{checkInDate} AND #{checkOutDate})
            )
            )
        </if>
        ORDER BY
        CASE
        WHEN a.max_guest = #{maxGuests} THEN 0
        ELSE ABS(a.max_guest - #{maxGuests})
        END,
        a.liked_count DESC
        LIMIT 9
    </select>

    <!-- 전체 숙소 수 조회 -->
    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM tbl_acm
    </select>

    <!-- 숙소 상세 정보 조회 -->
    <select id="selectAcmDetail" resultMap="acmResultMap">
        SELECT *
        FROM tbl_acm
        WHERE acm_id = #{acmId}
    </select>

    <!-- 선택된 숙소 목록 조회 -->
    <select id="selectAcmIds" resultMap="acmResultMap">
        SELECT *
        FROM tbl_acm
        WHERE acm_id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 숙소 삭제 -->
    <delete id="deleteAcm">
        DELETE FROM tbl_acm
        WHERE acm_id = #{acmId}
    </delete>
    
    <!-- 숙소 추가 -->
    <insert id="insertAcm" parameterType="com.udigo.hotel.acm.model.dto.AcmDTO">
        INSERT INTO tbl_acm (
            acm_name, 
            acm_address, 
            acm_location, 
            acm_price, 
            acm_info, 
            acm_phone, 
            regist_date, 
            max_guest, 
            liked_count, 
            acm_photo1, 
            acm_photo2, 
            acm_photo3, 
            acm_photo4, 
            acm_photo5
        ) VALUES (
            #{acmName}, 
            #{acmAddress}, 
            #{acmLocation}, 
            #{acmPrice}, 
            #{acmInfo}, 
            #{acmPhone}, 
            NOW(), 
            #{maxGuest}, 
            0, 
            #{acmPhoto1}, 
            #{acmPhoto2}, 
            #{acmPhoto3}, 
            #{acmPhoto4}, 
            #{acmPhoto5}
        )
    </insert>

    <update id="updateAcm" parameterType="com.udigo.hotel.acm.model.dto.AcmDTO">
        UPDATE
            tbl_acm
        SET
            acm_name = #{ acmName }
            acm_address= #{ acmAddress }
            acm_location= #{ acmLocation }
            acm_price = #{ acmPrice }
            acm_info = #{ acmInfo }
            acm_phone = #{ acmPhone } ,
            regist_date = #{ registDate },
            max_guest = #{maxGuest},
            liked_count = #{likedCount},
            acm_photo1 = #{acmPhoto1},
            acm_photo2 = #{acmPhoto2},
            acm_photo3 = #{acmPhoto3},
            acm_photo4 = #{acmPhoto4},
            acm_photo5 = #{acmPhoto5}
        WHERE
            acm_id = # { acmId }
    </update>
</mapper>